<link rel="stylesheet" href="{{ 'tagline.css' | asset_url }}">

<section class="tagline-section">
  {% if section.settings.tagline %}
    <p>{{ section.settings.tagline | escape }}</p>
  {% else %}
    <p>SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL</p>
  {% endif %}
</section>
{% schema %}
{
  "name": "Tagline",
  "settings": [
    {
      "type": "text",
      "id": "tagline",
      "label": "Tagline",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Tagline",
      "category": "General"
    }
  ]
}
{% endschema %}
