/* Navbar Header Styles */
.navbar-header {
  background-color: var(--color-bg-secondary);
  padding: 1.4375rem;
  position: relative;
}

@media (min-width: 600px) {
  .navbar-header {
    padding: 0.625rem 3.125rem;
  }
}

/* Navbar Container Styles */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 83.75rem;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .navbar-container {
    justify-content: space-between;
  }
}

/* Navbar Logo Styles */
.navbar-logo {
  font-family: "Jost", sans-serif;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  max-height: 40px;
  width: auto;
  object-fit: contain;
}

.navbar-logo span {
  font-weight: 600;
  font-size: 1.25rem;
}

/* Navbar Message Styles */
.navbar-message-desktop, .navbar-message-mobile {
  color: var(--color-primary);
  font-size: 1rem;
}

.navbar-message-desktop {
  display: none;
}

@media (min-width: 600px) {
  .navbar-message-desktop {
    display: block;
  }
}

.navbar-message-mobile {
  display: block;
}

@media (min-width: 600px) {
  .navbar-message-mobile {
    display: none;
  }
}

/* Navbar Button Styles */
.navbar-button-desktop,
.navbar-button-mobile {
  background-color: var(--color-bg-button-primary);
  color: var(--color-primary);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  gap: 1rem;
}

.navbar-button-desktop:hover,
.navbar-button-mobile:hover {
  background-color: var(--color-bg-button-secondary);
  color: var(--color-secondary);
}

.navbar-button-desktop {
  display: none;
}

@media (min-width: 600px) {
  .navbar-button-desktop {
    display: flex;
  }
}

.navbar-button-mobile {
  display: block;
}

@media (max-width: 600px) {
  .navbar-button-mobile {
    display: flex;
  }
}

/* Arrow Icon Styles */
.arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Navbar Icon Styles */
.navbar-icon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
}

@media (min-width: 600px) {
  .navbar-icon {
    display: none;
  }
}

/* Mobile Navigation Styles */
.mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #f2f2f2;
  flex-direction: column;
  gap: 16px;
  padding: 1.5625rem;
  justify-content: center;
  align-items: center;
}

.mobile-nav.active {
  display: flex;
}

@media (min-width: 600px) {
  .mobile-nav {
    display: none !important;
  }
}
